{% extends '_layouts/elementindex' %}
{% set title = 'Flowplayer Drive' %}

{% block actionButton %}
<div class="buttons">
    <a class="btn submit refresh icon" data-icon="refresh" href="{{url('craft-flowplayer-drive/refresh-index')}}">{{ 'Refresh Index'|t("craft-flowplayer-drive") }}</a>
    <a class="btn submit upload icon" data-icon="upload" href="{{url('craft-flowplayer-drive/create')}}">{{ 'New Video'|t("craft-flowplayer-drive") }}</a>
</div>
{% endblock %}

{% set elementType = 'lucasbares\\craftflowplayerdrive\\elements\\FlowplayerDriveVideoElement' %}