{#
 # Craft Flowplayer Drive plugin for Craft CMS 3.x
 #
 # This plugin includes Flowplayer Drive into craftcms.
 #
 # @link      http://luke.nehemedia.de
 # @copyright Copyright (c) 2018 Lucas Bares
 #}
<div data-player-id="{{settings.defaultPlayerId}}"><script src="//cdn.flowplayer.com/players/{{settings.siteId}}/7/flowplayer.async.js">{ "src": "{{video.video_id}}" }</script></div>