{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Craft Flowplayer Drive plugin for Craft CMS 3.x
 *
 * VideoField Field Input
 *
 * @author    Lucas Bares
 * @copyright Copyright (c) 2018 Lucas Bares
 * @link      http://luke.nehemedia.de
 * @package   CraftFlowplayerDrive
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{{ forms.lightswitch ({
        label: 'Published Videos',
        instructions: 'Show only published videos',
        id: name,
        name: name,
        value: value})
}}

<a href="#" onclick="javascript:Craft.createElementSelectorModal('Videofield')">Video auswählen</a>